@import "tailwindcss";

@theme {
  --color-p1: #00baae;
  --color-p2: #05897e;
  --color-w1: #ffffff;
  --color-b1: #103741;
  --color-blue: #16c4e3;
  --color-purpel: #c062d0;
  --color-pink: #fc82bd;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1800px;
}

@layer components {
  .container {
    @apply mx-auto px-3 sm:max-w-[96%] md:max-w-[95%] xl:max-w-[1140px] xxl:max-w-[1296px];
  }
  .spy {
    @apply py-10 md:py-16 lg:py-20 xl:py-30;
  }
  .spt {
    @apply pt-10 md:pt-16 lg:pt-20 xl:pt-30;
  }
  .spb {
    @apply pb-10 md:pb-16 lg:pb-20 xl:pb-30;
  }
  .spy-60 {
    @apply py-8 md:py-10 lg:py-12 xl:py-15;
  }
  .spt-60 {
    @apply pt-8 md:pt-10 lg:pt-12 xl:pt-15;
  }
  .spb-60 {
    @apply pb-8 md:pb-10 lg:pb-12 xl:pb-15;
  }
  .content-center {
    @apply flex items-center justify-center;
  }
  .sec-heading {
    @apply text-b1 text-2xl md:text-3xl lg:text-[40px] font-bold leading-[120%];
  }
  .sec-des {
    @apply text-lg font-medium text-b1/90 mt-3 md:mt-5;
  }
  .display-1 {
    @apply text-4xl font-bold leading-tight lg:text-6xl xl:text-[70px] xxl:text-[96px];
  }
  .display-2 {
    @apply text-3xl font-bold leading-tight md:text-[52px] xl:text-[60px] xxl:text-[72px];
  }
  .display-3 {
    @apply text-3xl font-bold leading-tight lg:text-5xl xl:text-[56px] xxl:text-[64px];
  }
  .display-4 {
    @apply text-3xl xl:leading-tight lg:text-4xl xl:text-[48px] font-bold xxl:text-[56px];
  }
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  color: #103741;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* banner swiper  pagination*/
.bannerSwiper .swiper-pagination {
  bottom: 30px !important;
  left: 50% !important;
  transform: translate(-50%) !important;
}

.bannerSwiper .swiper-pagination-bullet {
  width: 60px !important;
  height: 10px !important;
  border-radius: 4px !important;
}

.bannerSwiper .swiper-pagination-bullet-active {
  background-color: #00baae !important;
}

/*ripple animation  */
.ripple-animation {
  animation: ripple 5s ease-in-out infinite;
}
.ripple-animation2 {
  animation: ripple2 7s ease-in-out infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes ripple2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.doll-animation {
  animation: dollRun 5s ease-in-out infinite;
}

@keyframes dollRun {
  0% {
    top: 0px;
  }
  50% {
    top: 60px;
  }
  100% {
    top: 0px;
  }
}

/* section border animation */
@keyframes soft-loader {
  0% {
    left: -60px;
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
.animate-soft-loader {
  animation: soft-loader 3s ease-in-out infinite;
}
